/*---{ Base }---*/
html{
    zoom: 80%;
}

body{
    background-color: black;
    overflow: hidden;
    font-family: QuickSand;
    
}

@font-face {
    font-family: Jersey;
    src: url('fonts/Jersey15.ttf') format('truetype');
}

@font-face {
    font-family: QuickSand;
    src: url('fonts/QuickSand.ttf') format('truetype'); 
}

/*---{ Effects }---*/

.rain {
    position: absolute;
    width: 100%;
    height:53vw;
    background: transparent;
    pointer-events: none;
    z-index: 99;
}
.drop {
    width: 3px;
    height: 3px;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    animation: rise linear infinite;
    border-radius: 100%;
}

@keyframes rise {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh);
    }
}


/*---{ Table }---*/
table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #444;
}

/*---{ Tools }---*/
.downloadr{
    color: aqua;
}

.icon{
    position: absolute;
    margin-top: -1%;
    margin-left:14%;
    image-rendering:optimizeSpeed;
    width: auto;
    height: 800;
}

.tools{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    height: 100px;
    width: 100%;
    margin-top: -20;
}

.about{
    font-family: QuickSand;
    width: 100;
    height:60%;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border-style: none;
    border-bottom-style:solid;
    border-radius: 0px;
    border-bottom-width: 3px;
    border-color: white;
    margin-left: 590;
    transition: 0.2s;
}

.about:hover{
    color:yellow;
    border-color: yellow;
    transition: 0.2s;
    transform: scale(1.2);
}

.download{
    font-family: QuickSand;
    width: 170;
    height:60%;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border-style: none;
    border-bottom-style:solid;
    border-radius: 0px;
    border-bottom-width: 3px;
    border-color: white;
    margin-left: 070;
    transition: 0.2s;
}

.download:hover{
    color:yellow;
    border-color: yellow;
    transition: 0.2s;
    transform: scale(1.2);
}

.countdown{
    font-family: QuickSand;
    width: 170;
    height:60%;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border-style: none;
    border-bottom-style:solid;
    border-radius: 0px;
    border-bottom-width: 3px;
    border-color: white;
    margin-left: 070;
    transition: 0.2s;
}

.countdown:hover{
    color:yellow;
    border-color: yellow;
    transition: 0.2s;
    transform: scale(1.2);
}

.p1{
    position:absolute;
    background-color: rgba(0, 0, 255, 0);
    height: 400;
    width: 500;
    margin-left: 100;
    margin-top: 050;
}


.p2{
    background-color: rgba(56, 56, 227, 0);
    height: 100;
    width: 500;
    margin-left:550;
    margin-top: -350;
    position:absolute;
}
.p3{
    background-color: rgba(56, 56, 227, 0);
    height: 100;
    width: 500;
    margin-left:1200;
    margin-top: 50;
    position:absolute;
}

.creditsweb{
    height: 400;
    width: 400;
}